@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    font-family: "Roboto", sans-serif;
}

body {
    background: url("../assets/img/background.jpg") no-repeat fixed center;
    background-size: cover;
}

#nav-bar {
    position: fixed;
    top: 0;
    z-index: 1;
    width: 100%;
    height: 9vh;
    background: #02284cd4;
    display: flex;
    justify-content: space-around;
    align-items: center;
    box-shadow: #212121 1px 1px 10px;
}

.logo {
    display: flex;
    align-items: center;
    gap: .8rem;
}

.logo > div {
    width: 3rem;
    height: 3rem;
    border-radius: 50%;
    background: #9dadbe;
}

.logo a {
    font-size: 1.5em;
    color: #b4c2d3;
    font-family: "Oswald", sans-serif;
    font-weight: bold;
}

#nav-bar .link-bar {
    display: flex;
    gap: 1.5rem;
}

#nav-bar .link-bar a {
    color: #b4c2d3;
    padding: 1rem .5rem;
    position: relative;
    font-size: 1em;
}

#nav-bar .link-bar a:hover {
    color: #fff;
}

#nav-bar .link-bar a:after {
    content: "";
    position: absolute;
    background: #fff;
    height: 3px;
    width: 0;
    left: 0;
    bottom: .2rem;
    transition: .8s;
}

#nav-bar .link-bar a:hover:after {
    width: 100%;
}

section {
    margin: 5% 20%;
    padding: 5% 2%;
    background: #dadddc;
    border-radius: 24px;
    box-shadow: #2c2c2c 1px 1px 10px;
}

section > h2 {
    width: 100%;
    padding: 1rem;
    font-size: 2.2em;
    text-align: center;
    font-family: "Oswald", sans-serif;
}

section .text {
    padding: 5% 10%;
    text-align: justify;
    font-size: 1.1em;
    line-height: 1.8;
    font-family: "Roboto", sans-serif;
}

#home {
    margin: 0;
    position: relative;
    width: 100%;
    height: 70vh;
    background: transparent;
    display: flex;
    justify-content: center;
}

#home::before {
    content: "Evolução das Metodologias de Desenvolvimento";
    font-family: "Oswald", sans-serif;
    position: absolute;
    top: 40%;
    padding: 2rem;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    background: #415c7cd6;
    width: 70%;
    height: 20vh;
    color: #f0ffff;
    font-size: 3em;
    justify-content: center;
    font-weight: bold;
    border-radius: 24px;
    box-shadow: #212121 1px 1px 10px;
}

#resources .text.ref a {
    color: #000;
}

#resources .text.link ul > li {
    list-style: disc;
    text-decoration: underline;
}

#resources .videos {
    margin-top: 1rem;
    width: 100%;
    display: flex;
    gap: 2rem;
    /*justify-content: center;*/
    flex-wrap: wrap;
}

#resources .video-yt {
    width: 18rem;
    min-width: 8rem;
    height: 10rem;
    border-radius: 8px;
    background: #9dadbe;
}

.area-top {
    display: flex;
    justify-content: flex-end;
}

.button-top {
    bottom: 2rem;
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    width: 4rem;
    height: 4rem;
    margin-right: 2rem;
    padding: 1rem;
    border-radius: 50%;
    background-color: #234870;
    transition: .5s;
    box-shadow: #444444 1px 1px 10px;
}

.button-top:hover {
    background-color: #2c5a8b;
    box-shadow: #444444 1px 1px 10px;
}

footer {
    position: relative;
    bottom: 0;
    width: 100%;
    padding: 1.8rem;
    font-size: 1em;
    text-align: center;
    color: #f0ffff;
    background: #02284cd4;
    box-shadow: #444444 1px 1px 10px;
}

::-webkit-scrollbar {
    width: 1rem;
    border: none;
}

::-webkit-scrollbar-thumb {
    background: #9dadbe;
    border-radius: 1rem;
    height: 4rem;
}
::-webkit-scrollbar-track {
    background: #022549;
}
